quarkus:
  http:
    port: 4000
    root-path: /api
  log:
    level: INFO
  hibernate-orm:
    database:
      generation: none
  fault-tolerance:
    global:
      rate-limit:
        value: 50
      window:
        value: 10